name: build-linux-x86_64

on:
  push:
  pull_request:
  workflow_dispatch:
    inputs:
      debug_level:
        required: true
        description: "debug level"
        default: 'set -x'
        type: choice
        options:
          - 'set -x'
          - 'set -exu '

env:
  BRANCH_NAME: ${{ github.head_ref || github.ref_name }}

jobs:
  linux-x86_64:
    if: 1
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Prepare Source Code
        run: |
          echo $PATH
          env
          docker info
          id -u
          id -g
          who
          cat /etc/os-release
          hostnamectl
          uname -s
          uname -m
          uname -r

          # echo "BUILD_PHP_VERSION=8.2.4" >> "$GITHUB_ENV"

          cat /proc/cpuinfo | grep name | cut -f2 -d: | uniq -c
          cat /proc/cpuinfo| grep "physical id"| sort| uniq| wc -l
          cat /proc/cpuinfo | grep "cpu cores" | uniq
          cat /proc/cpuinfo| grep "processor"| wc -l
          lscpu

    
          echo ${{ env.BRANCH_NAME }}


      - name: install-Nvidia-driver-and-CUDA.sh
        if: 1
        run: |
          ${{ inputs.debug_level }}
          sudo bash install-Nvidia-driver-and-CUDA.sh

      - name: build
        if: 1
        run: |
          ${{ inputs.debug_level }}
          sudo bash compile.sh

      - name: Show Build Result
        if: 1
        run: |
          ./ffmpeg -h
          ./ffmpeg -formats

      - name: production artifacts
        if: 0
        uses: actions/upload-artifact@v3
        with:
          name: ffmpeg-linux-x64-${{ env.BRANCH_NAME }}
          retention-days: 7
          path: ./ffmpeg

      - name: Release
        uses: softprops/action-gh-release@v1
        if: 0 && startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            ./ffmpeg
